/* page setup {{{1 */
@page {
    size: A4 portrait;
    margin: 20mm 20mm 20mm 20mm;
    /* border: 1px solid #000;  page overrun effect with paged.js */

    /* page setup for paged.js {{{1 */
    @top-right {
        content: string(doc_title) '(' counter(page) '/' counter(pages) ')';
    }
}


@media print {
    body {
        /*! padding-left: 3mm; */
        min-height: 24cm;
        margin: 0px;
    }

    /* border for paged.js {{{1 */
    .pagedjs_area {
        border: 1pt solid #000;
        padding: 2mm;
    }

    /* toc for paged.js {{{1 */
    .toc li:before {
        float: left;
        width: 0;
        white-space: nowrap;
        /* overflow: hidden; */
        content: ". . . . . . . . . . . . . . . . . . . . . . . . . "
                 ". . . . . . . . . . . . . . . . . . . . . . . . . "
                 ". . . . . . . . . . . . . . . ";
    }
    .toc a {
        background: white;
        padding-right: 1em;
    }
    .toc a::after {
        float: right;
        content: target-counter(attr(href), page);
        background: white;
        padding: 0 1em 0 1em;;
    }
}

/* page setup for screen {{{1 */
@media screen {
}

/* basic styles {{{1 */
body > * {
    margin-left: 2mm;
}

table {
    max-width: 98%;
    border-collapse: collapse;
    border: 1pt solid #000;
    margin-left: auto;
    margin-right: auto;
}
thead {
    background: #EEE;
}
td, th {
    border: 1pt solid #000;
    padding: 1.0mm;
}
th > ol, th > ul, th > dl, td > ol, td > ul, td > dl {
    /* remove sane list margins, just hold td, th paddings */
    margin-top: 0mm;
    margin-bottom: 0mm;
}
ul {
    padding-left: 1.1em;
    margin: 0 0 0 0;
}

img {
    max-width: 99%;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 1mm auto 1mm auto;

}

/* styles for footnotes2 {{{1
a.footnotes2-ref {
    display: none;
}
a.footnotes2-ref {
    font-size: 10pt;
    float: right;
}
*/
a.footnotes2-ref {
    font-size: 4pt;
}


/* styles for controller {{{1 */
div.topdf-ctrl {
    padding: 6px;
    background: #FFFA;
    border: #03A9F4AA solid 4px;
    position: fixed;
    right: 0; width: 6.8em;
    top: 0; height: 9.7em;
}
a.topdf-ctrl-btn {
    position: absolute;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #03A9F4AA;
    border: solid 1px #0f9adaaa;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    min-width: 1.1em;
    text-align: center;
}

a.topdf-ctrl-btn:active {
    border: solid 1px #03A9F4;
    box-shadow: none;
    text-shadow: none;
}

div.topdf-ctrl.topdf-small  { transform: scale(1.0); }
div.topdf-ctrl.topdf-normal { transform: scale(2.0);
                              right: 5%; top: 10% !important;}
div.topdf-ctrl.topdf-large  { transform: scale(3.0);
                              right: 10%; top: 20% !important;}

a.topdf-ctrl-btn:nth-child(1) { left: 2.6em; top: 0.3em; }
a.topdf-ctrl-btn:nth-child(2) { left: 2.6em; top: 3.8em; }
a.topdf-ctrl-btn:nth-child(3) { left: 5.0em; top: 2.0em; }
a.topdf-ctrl-btn:nth-child(4) { left: 0.5em; top: 2.0em; }
a.topdf-ctrl-btn:nth-child(5) { left: 0.9em; top: 6.0em; }
a.topdf-ctrl-btn:nth-child(6) { left: 3.9em; top: 6.0em; }
a.topdf-ctrl-btn:nth-child(7) { left: 0.7em; top: 8.2em; }



/* page breaks {{{1 */
@media print {
    hr {
        border: none;
        page-break-after: always;
    }
    tr {  /* table headers after page breaks */
        --pagedjs-repeat-header: all;
    }

    /* document number for paged.js {{{1 */
    .doc-num {
        display: none;
        string-set: doc_title content(text);
    }
    .pagedjs_margin-top-right {
        margin-top: auto;
    }
}

.doc-num {
    font-size: 10pt;
    text-align: right;
    width: 100%;
}

/* end of file {{{1 */
/* vi: ft=css:fdm=marker
 */
